

body{
	font-family: PTSansRegular, Arial, Helvetica, sans-serif;
	font-size: 13px;
	background-color: lightgrey;
}

h1 {
	font-size: 17px;
}

h2 {
	font-size: 15px;
}

.message_box {	
    border: 1px solid black;
    width: 60%;
    background-color: mistyrose;
    margin: 20px 0px;
    float: left;
}

.message_text {
	padding: 11px 10px;
}

.testcaseImage {
	clear: both;
	max-height: 400px;
}

.testcase {
	padding-left: 20px;
	padding-bottom: 40px;
}

.testcasebox {
	padding-top: 20px;
	clear: both;
}

.testcase_indicator {
	float:left;
	width: 25px;
	height: 22px;
	margin-right: 5px;
	border: 1px solid grey;
}

.clear {
	clear: both;
}

.jump_icon {
	float: left; 
	height: 20px; 
	width: 20px;
}

.jump_container{
	clear: both;
	padding: 10px 0px;
}

.jump_box {
	float: left;
}

.jump_text {
	margin: 2px 10px 2px 20px;
}

.message_icon {
	float: left;
	height: 60px;
}

.testcase_success{
	background-color : greenyellow;
}

.testcase_incomplete{
	background-color : yellow;
}


.testcase_failed{
	background-color : red;
}

.quicklink{
	padding : 5px;
	margin : 2px;
	float: left;
	border: 1px solid grey;
}